.App {
  text-align: center;
}
.navbar{
  background-color: darkslategray;
  color: blanchedalmond;
}
.App-link {
  color: #61dafb;
}
.navbar-brand{
  color:whitesmoke ;
  font-weight: 800;

}
.graph{
  max-height: 90%;
  max-width: 80%;
  position: absolute;
}

.graphcontainer{
  width: 60px;
  height: 60px !important;
  position: relative;
}
tr{
  cursor: pointer;
}
.selected{
  background: #efe7dc;
}
.cardtitle{
  color: white;
    padding: 10px;
    font-weight: 700;
    background-color: darkseagreen;
    text-align: left;
}
.pd10{
  padding: 10px;
}
.pt10{
  padding-top: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
